$color-background: #141414;
$color-text: #ebebeb;
$color-placeholder: #909090;
$color-primary: #146dff;
$color-input-background: #212323;
$color-border: #404040;
$color-info-backgroud: #415374;

$color-primary-hover: #4182ea;
$color-primary-disabled: #7694c4;
$color-text-disabled: #b0b0b0;
$color-background-disabled: #2c2e2f;

$default-transition-linear: 0.15s linear;
$quick-transition-linear: 0.08s linear;

$default-font: "Cabin", Sans-Serif;
$default-font-monospace: "JetBrains Mono", monospace;
$default-font-percentage: "Noto Sans", monospace;
$font-size-title: 30px;
$font-size-large: 24px;
$font-size-default: 18px;
$font-size-small: 16px;

$default-border-radius: 6px;
$dark-border: 1px solid $color-border;
